*.md
.byebug_history
.bundle
.docker-compose.yml.production
.env.docker
.env.docker.example
.git
.gitattributes
.github
.gitignore
.rspec
.rubocop.yml
.ruby-version
monero-wallet-rpc.log
coverage
log/*
public/assets
spec
storage/*
tmp/*

wallets/*
!wallets/development/
!wallets/test/
!wallets/staging/
!wallets/production/

wallets/development/*
!wallets/development/.keep

wallets/test/*
!wallets/test/.keep

wallets/staging/*
!wallets/staging/.keep

wallets/production/*
!wallets/production/.keep
