.bundle
.env.docker
.git
.dockerignore
.byebug_history
README.md
monero-wallet-rpc.log
coverage/*
log/*
public/assets
storage/*
tmp/*

wallets/*
!wallets/development/
!wallets/test/
!wallets/staging/
!wallets/production/

wallets/development/*
!wallets/development/.keep

wallets/test/*
!wallets/test/.keep

wallets/staging/*
!wallets/staging/.keep

wallets/production/*
!wallets/production/.keep
