<% if notice.present? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<div id="wallets" class="row">
  <% @wallets.each do |wallet| %>
    <%= render partial: '/admin/wallets/wallet', object: wallet %>
  <% end %>
</div>

<%= link_to t('wallet.new'), new_admin_wallet_path, class: 'btn btn-dark' %>
