<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= wallet.port %>
  </p>

  <p>
    <strong>Status:</strong>
    <span data-controller="wallet-status" data-wallet-status-url-value="<%= status_wallet_path(wallet.id) %>" data-wallet-status-refresh-interval-value="5000">
      ...
    </span>
  </p>

</div>
