<div id="<%= dom_id wallet %>">
  <p>
    <strong>Name:</strong>
    <%= wallet.name %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= wallet.port %>
  </p>

  <p>
    <strong>Pid:</strong>
    <%= wallet.pid %>
  </p>

</div>
