<% if notice.present? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<div id="wallets" class="row">
  <% @wallets.each do |wallet| %>
    <%= render wallet %>
  <% end %>
</div>

<%= link_to "New wallet", new_wallet_path, class: 'btn btn-dark' %>
