<ul class="nav nav-tabs">
  <li class="nav-item">
    <h1>
      <%= link_to 'Wallets', wallets_path, class: "nav-link #{place_active_tab_class(:wallets)}" %>
    </h1>
  </li>
  <li class="nav-item">
    <h1>
      <a href="#" class="nav-link <%= place_active_tab_class(:invoices) %>">Payments</a>
    </h1>
  </li>
</ul>
